/* input[type='email'],
input[type='text'],
input[type='password'] {
  width: 75%;
  margin-left: 10%;
  padding: 12px, 20px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 6px;
  box-sizing: border-box;
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
/* ::placeholder {
  color: #4c4c4d;
} */
.welcome-title {
  text-align: center;
  /* font-family: 'georgia', sans-serif; */
  color: #ffffff;
}
.welcome-banner {
  padding: 16px;
  background-color: #000;
  justify-content: center;
  /* background-image: url('https://images.unsplash.com/photo-1590859808308-3d2d9c515b1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZGF0YWJhc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60'); */
  height: 100px;
}
