.form-container {
  padding: 16px;
  margin: 50px 500px;
  border: 2px solid #56ccf2;
  background-color: azure;
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
}
.form-title {
  text-align: center;
  font-family: 'open sans', serif;
  padding: 1rem 0;
  font-size: 6rem;
}
input[type='email'],
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px, 20px;
  margin-right: 16px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 2px;
  box-sizing: border-box;
  color: #000;
}
.welcome-title {
  text-align: center;
  font-family: 'georgia', serif;
  color: #ffffff;
}
.welcome-banner {
  padding: 16px;
  background-color: #56ccf2;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1590859808308-3d2d9c515b1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZGF0YWJhc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60');
  height: 100px;
}

.homepage-subheader {
  text-align: center;
  font-family: 'open sane', 'serif';
  color: #33454f;
  text-shadow: 2px 2px 5px #56ccf2;
}
.instruction-widget {
  background-color: azure;
  width: 250px;
  height: 100px;
  max-width: 500px;
  min-width: 100px;
  max-height: 600px;
  margin: 75px;
  border: 2px solid #56ccf2;
}
.instruction-header {
  color: #33454f;
  font-family: 'Georgia', 'serif';
  justify-content: center;
  transform: translate(0, 125%);
  display: flex;
  font-size: 18px;
}
