<!DOCTYPE html>
<body>

<div class = "container">
<a href = "users/login" class = "btn btn-success">
    Login
</a>
</div>
&nbsp;
&nbsp;
<div class = "container">
<a href = "users/register" class = "btn btn-success">
    Register
</a>

<!-- </div>
&nbsp;
&nbsp;
<div class = "container">
    <a href = "users/profile" class = "btn btn-success">
        Profile
    </a>
</div> -->


</body>