<!DOCTYPE html>
<h1>Register</h1>
<form action="/shopify_api/users/register" method = "POST">
    <div>
        <label for = "email">Email</label>
        <input type = "email" id = "email" name = "email" required>
    </div>
    <div>
        <label for = "username">Username</label>
        <input type = "username" id = "username" name = "username" required>
    </div>
    <div>
        <label for = "password">Password</label>
        <input type = "password" id = "password" name = "password" required>
    </div>
    <button type = "submit">Submit</button>
</form>
<a href = "/login">Already have an account? Feel free to Login</a>