<!DOCTYPE html>
<h1>Forgot Your Password</h1>
<form action = "/shopify_api/users/forgot_password" method = "POST">
    <div>
        <label for = "email">Enter your email</label>
        <input type = "email" id = "email"  name = "email" required>
    </div>
    <div>
        <label for = "username">Enter your Username</label>
        <input type = "username" id = "username" name = "username" required>
    </div>
    <div>
        <label for = "password">Enter your new password</label>
        <input type = "password" id = "password" name = "password" required>
    </div>
    <button type = "submit">Submit</button>
</form>