<!DOCTYPE html>

<h1>Login</h1>
<form action="/login" method = "POST">
    <div>
        <label for = "username">Username</label>
        <input type = "username" id = "email" name = "email" required>
    </div>
    <div>
        <label for = "password">Password</label>
        <input type = "password" id = "password" name = "password" required>
    </div>
    <button type = "submit">Submit</button>
</form>
<a href = "/register">Don't have an account? Feel free to register</a>