<!DOCTYPE html>
<!-- Look into error handling and redirecting -->

<h1>Login</h1>
<!-- for html forms write the absolute route -->
<form action="/shopify_api/users/login" method = "POST"> 
    <div>
        <label for = "username">Username</label>
        <input type = "username" id = "username" name = "username" required>
    </div>
    <div>
        <label for = "password">Password</label>
        <input type = "password" id = "password" name = "password" required>
    </div>
    <button type = "submit">Submit</button>
</form>
<a href = "/shopify_api/users/register">Don't have an account? Feel free to register</a>