<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Show Product</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4">Title: <%= product.title%></h1>
    </div>
    <div class="container">
      <!-- <a href="/shopify_api/stores" class="btn btn-secondary">All stores</a>
      <a
        href="/shopify_api/stores/edit/<%= store.storeId %>"
        class="btn btn-info"
        >Edit</a
      >
      <a
        href="../stores/<%= store.storeId %>/products"
        class="btn btn-secondary"
        >View Products</a
      > -->
      <a
        href="/shopify_api/stores/<%= store.storeId %>/products"
        class="btn btn-secondary"
        >Back</a
      >
    </div>
  </body>
</html>
